<!DOCTYPE html>
<html lang="kr">

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

        <title>만드는 중...</title>
    </head>

    <body>

        <form action=" {%url 'create_completed'%} ">
            
            <h1><span class="badge badge-info">작성하세요</span></h1>
            

            <h3><span class="badge badge-secondary">제목:</span></h3>
            <input type="text" name="title">
            <br><br>

            <h3><span class="badge badge-secondary">본문:</span></h3>

            <textarea name="body" id="" cols="30" rows="10"></textarea>
            <br><br>
            <input type='submit' class='btn btn-dark' value="SUBMIT">
        
        </form>
        <br></br>
        <br></br>
        <a class="btn btn-primary" href="{%url 'list'%}" role="button">글 목록들로 돌아가기 </a>
    </body>

</html>